@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-poppins);
  color: #8a8a8a;
  background: url(/images/Noise-&-Texture.png) no-repeat 50%, #fffcf9;
  background-size: cover;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.font-behind-nineties {
  font-family: var(--font-behind-nineties);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-inter {
  font-family: var(--font-inter);
}

.text-gold {
  color: #C38A3E;
}

.text-primary {
  color: #911E3D;
}

.text-gray {
  color: #1F1F1FCC;
}

.text-light-gray {
  color: #3A3A3A;
}

.text-dark-gray {
  color: #1F1F1F;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 24px;
}

/* .fs-14 {
  font-size: 14px; => 13px, 13px, 12px, 12px
}
.fs-16 {
  font-size: 16px;
} */
.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-35 {
  font-size: 35px;
}

.fs-38 {
  font-size: 38px;
}

.fs-80 {
  font-size: 80px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.p-20 {
  padding: 20px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.btn {
  padding: 10px 24px;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 500;
}

.btn-primary {
  color: white;
  background-color: #911e3d;
}

.btn-lg {
  padding: 14px 24px;
  border-radius: 10px;
}

.btn-sm {
  padding: 10px 27px;
  border-radius: 8px;
  font-size: 14px;
}

.btn-circle {
  padding: 15px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.50);
  transition: all 0.3s ease-in-out;
}

.service-card .img-wrapper .btn-circle path {
  stroke: #911E3D;
}

.product-card .img-wrapper .btn-circle path {
  stroke: #292D32;
}

.form-control {
  border-radius: 8px;
  padding: 13px 15px;
  background-color: white;
  font-weight: 300;
}

.form-control::placeholder {
  color: #8A8A8A;
}

.border-radius-20 {
  border-radius: 20px;
}

/* navbar */
.logo-wrapper {
  height: 50px;
  width: 120px;
}

.navbar {
  z-index: 100;
  width: calc(100% - 100px);
  margin: auto;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
}

.navbar.scroll-down {
  z-index: 100;
  width: 100%;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #f4ede480;
  box-shadow: 0 0 24px #00000026;
}

.navbar.scroll-down .nav-container {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: none;
  border-radius: none;
  max-width: 1140px;
  padding: 8px 20px;
  box-shadow: none;
}

.navbar .nav-container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #f4ede480;
  border-radius: 10px;
  max-width: 1140px;
  padding: 8px 20px;
  box-shadow: 0 0 24px #00000026;
}

.navbar .nav-link {
  padding: 10px 6px;
  transition: all 0.2s;
  font-weight: 400;
}

.nav-icon {
  background: rgba(255, 255, 255, 0.5);
}

.nav-toggle-btn {
  padding: 8px;
}

/* hero-section */
.hero-section .background-wrapper {
  margin: 0 auto;
  padding-top: 170px;
  padding-left: 40px;
  padding-right: 40px;
  background: radial-gradient(50% 85% at 50% 50%, #f4ede4 0, #e9d3b6 100%);
}

.book-appointment {
  position: relative;
  padding: 30px 20px;
  backdrop-filter: blur(6.5px);
  background-color: #ffffff80;
  z-index: 2;
}

.book-appointment:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(98.75deg,
      rgba(255, 255, 255, 0.5),
      rgba(222, 174, 109, 0.5) 99.67%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* service-section */
.product-card .img-wrapper,
.service-card .img-wrapper {
  height: 500px;
  width: 100%;
}

.tag {
  background: rgba(0, 0, 0, 0.20);
  padding: 7px 18px;
  color: white;
}

/* product-section */
.product-section {
  background: #F4EDE4;
}

.product-card .card-footer {
  padding: 20px 26px 20px 16px;
  border: 1px solid #EAEAEA;
  background-color: #FBFBFB;
}

/* trusted-section */
.trust-card {
  border: 1px solid #E8E8E8;
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}

/* blog-section */
.ratio-16x9 {
  aspect-ratio: 16 / 9;
}

.custom-bullet {
  background-color: #8a8a8a;
  width: 100px !important;
  height: 8px !important;
  border-radius: 20px !important;
  transition: all 300ms ease-in-out;
  display: inline-block;
}

/* marquee-section */
.marquee-section .img-wrapper,
Image {
  width: 210px;
  height: 90px;
  border-radius: 10px;
}

.marquee-section h3 {
  font-size: 80px;
  border-radius: 10px;
}

@media screen and (min-width: 1279.97px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1279.97px) {

  .service-card .img-wrapper,
  Image {
    height: 450px;
    width: 100%;
  }
}

@media screen and (max-width: 1023.97px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 22px;
  }

  /* .fs-14 {
  font-size: 13px;
}
.fs-16 {
  font-size: 15px;
} */
  .fs-18 {
    font-size: 16px;
  }

  .fs-20 {
    font-size: 18px;
  }

  .fs-35 {
    font-size: 31px;
  }

  .fs-38 {
    font-size: 38px;
  }

  .fs-80 {
    font-size: 70px;
  }

  .py-40 {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .pt-20 {
    padding-top: 18px;
  }

  .p-20 {
    padding: 18px;
  }

  .pt-40 {
    padding-top: 36px;
  }

  .pt-50 {
    padding-top: 45px;
  }

  .py-80 {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .pt-80 {
    padding-top: 70px;
  }

  .mt-40 {
    margin-top: 32px;
  }

  .my-35 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .px-40 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn {
    padding: 9px 22px;
    font-size: 16px;
    border-radius: 11px;
  }

  .btn-lg {
    padding: 14px 24px;
    border-radius: 10px;
  }

  .btn-sm {
    padding: 9px 24px;
    border-radius: 8px;
    font-size: 14px;
  }

  .btn-circle {
    padding: 14px;
  }

  .border-radius-20 {
    border-radius: 18px;
  }

  .navbar {
    width: calc(100% - 80px);
    top: 35px;
  }

  .logo-wrapper {
    width: 100px;
    height: 42px;
  }

  .navbar .nav-container {
    border-radius: 9px;
    padding: 7px 16px;
  }

  .hero-section .background-wrapper {
    padding-top: 130px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .book-appointment {
    padding: 25px 16px;
  }

  .book-appointment:before {
    border-radius: 18px;
  }

  .service-card .img-wrapper,
  Image {
    height: 440px;
    width: 100%;
  }

  .marquee-section .img-wrapper,
  Image {
    width: 180px;
    height: 75px;
    border-radius: 10px;
  }

  .marquee-section h3 {
    font-size: 60px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 767.97px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 20px;
  }

  /* .fs-14 {
  font-size: 13px; => 13px, 13px, 12px, 12px
}
.fs-16 {
  font-size: 14px; => 15px, 14px, 13px, 12px
} */
  .fs-18 {
    font-size: 14px;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-35 {
    font-size: 28px;
  }

  .fs-38 {
    font-size: 31px;
  }

  .fs-80 {
    font-size: 60px;
  }

  .py-40 {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .pt-20 {
    padding-top: 16px;
  }

  .p-20 {
    padding: 16px;
  }

  .pt-40 {
    padding-top: 33px;
  }

  .pt-50 {
    padding-top: 41px;
  }

  .mt-40 {
    margin-top: 26px;
  }

  .my-35 {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .py-80 {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .pt-80 {
    padding-top: 62px;
  }

  .px-40 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .btn {
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 10px;
  }

  .btn-lg {
    padding: 12px 20px;
    border-radius: 9px;
  }

  .btn-sm {
    padding: 9px 22px;
    border-radius: 8px;
    font-size: 10px;
  }

  .btn-circle {
    padding: 13px;
  }

  .border-radius-20 {
    border-radius: 16px;
  }

  .navbar {
    width: calc(100% - 60px);
    top: 31px;
  }

  .navbar .nav-container {
    border-radius: 9px;
    padding: 7px 14px;
  }

  .logo-wrapper {
    width: 85px;
    height: 35px;
  }

  .hero-section .background-wrapper {
    padding-top: 115px;
    padding-left: 31px;
    padding-right: 31px;
  }

  .book-appointment {
    padding: 21px 13px;
  }

  .book-appointment:before {
    border-radius: 16px;
  }

  .service-card .img-wrapper,
  Image {
    height: 435px;
    width: 100%;
  }

  .marquee-section .img-wrapper,
  Image {
    width: 160px;
    height: 65px;
    border-radius: 10px;
  }

  .marquee-section h3 {
    font-size: 50px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 575.97px) {
  body {
    font-size: 13px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 33px;
  }

  h4 {
    font-size: 19px;
  }

  /* .fs-14 {
  font-size: 14px; => 13px, 13px, 12px, 12px
}
.fs-16 {
  font-size: 16px; => 15px, 14px, 13px, 12px
} */
  .fs-18 {
    font-size: 13px;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-35 {
    font-size: 26px;
  }

  .fs-38 {
    font-size: 29px;
  }

  .fs-80 {
    font-size: 55px;
  }

  .py-40 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pt-20 {
    padding-top: 14px;
  }

  .p-20 {
    padding: 14px;
  }

  .pt-40 {
    padding-top: 30px;
  }

  .pt-50 {
    padding-top: 38px;
  }

  .mt-50 {
    margin-top: 28;
  }

  .mt-40 {
    margin-top: 24px;
  }

  .my-35 {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .py-80 {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .py-80 {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .px-40 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .btn {
    padding: 7px 18px;
    font-size: 13px;
    border-radius: 9px;
  }

  .btn-lg {
    padding: 11px 18px;
    border-radius: 8px;
  }

  .btn-sm {
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
  }

  .btn-circle {
    padding: 12px;
  }

  .border-radius-20 {
    border-radius: 15px;
  }

  .navbar {
    width: calc(100% - 40px);
    top: 28px;
  }

  .navbar .nav-container {
    border-radius: 8px;
    padding: 6px 13px;
  }

  .logo-wrapper {
    width: 70px;
    height: 29px;
  }

  .hero-section .background-wrapper {
    padding-top: 105px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .book-appointment {
    padding: 18px 11px;
  }

  .book-appointment:before {
    border-radius: 15px;
  }

  .service-card .img-wrapper,
  Image {
    height: 430px;
    width: 100%;
  }

  .marquee-section .img-wrapper,
  Image {
    width: 140px;
    height: 65px;
    border-radius: 10px;
  }

  .marquee-section h3 {
    font-size: 45px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 399.97) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 18px;
  }

  /* .fs-14 {
  font-size: 14px; => 13px, 13px, 12px, 12px
}
.fs-16 {
  font-size: 16px; => 15px, 14px, 13px, 12px
} */

  .fs-18 {
    font-size: 12px;
  }

  .fs-20 {
    font-size: 14px;
  }

  .fs-35 {
    font-size: 25px;
  }

  .fs-38 {
    font-size: 28px;
  }

  .fs-80 {
    font-size: 40px;
  }

  .py-40 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .pt-20 {
    padding-top: 12px;
  }

  .p-20 {
    padding: 12px;
  }

  .pt-40 {
    padding-top: 27px;
  }

  .pt-50 {
    padding-top: 35px;
  }

  .mt-40 {
    margin-top: 20px;
  }

  .my-35 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .py-80 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .py-80 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .px-40 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn {
    padding: 6px 17px;
    font-size: 12px;
    border-radius: 8px;
  }

  .btn-lg {
    padding: 10px 17px;
    border-radius: 8px;
  }

  .btn-sm {
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 12px;
  }

  .btn-circle {
    padding: 11px;
  }

  .border-radius-20 {
    border-radius: 14px;
  }

  .navbar {
    width: calc(100% - 30px);
    top: 25px;
  }

  .logo-wrapper {
    width: 70px;
    height: 29px;
  }

  .navbar .nav-container {
    border-radius: 8px;
    padding: 6px 12px;
  }

  .hero-section .background-wrapper {
    padding-top: 95px;
    padding-left: 26px;
    padding-right: 26px;
  }

  .book-appointment {
    padding: 15px 10px;
  }

  .book-appointment:before {
    border-radius: 14px;
  }

  .service-card .img-wrapper,
  Image {
    height: 430px;
    width: 100%;
  }

  .marquee-section .img-wrapper,
  Image {
    width: 130px;
    height: 55px;
    border-radius: 10px;
  }

  .marquee-section h3 {
    font-size: 35px;
    border-radius: 10px;
  }
}